@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #66b3ff, #4da6ff);
}

.login-box {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.login-box h1 {
    text-align: center;
}

.user-box {
    position: relative;
    margin: 15px 0;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #ccc;
    transition: all 0.3s ease;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    color: #4d4d4d;
}

.login-box button {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-box button:hover {
    background-color: #3e8e41;
}

.login-box button span {
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -50px;
    width: 100px;
    height: 2px;
    background-color: #fff;
}

.login-box button:hover span:nth-child(1) {
    left: 0;
}

.login-box button span:nth-child(2) {
    top: -50px;
    right: 0;
    width: 2px;
    height: 100px;
    background-color: #fff;
}